* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

:root {
    --text-color:#222;
    --subheading-color:#a0a0a0;
    --placeholder-color:#6c6c6c;
    --primary-color:#fff;
    --secondary-color:#E9EEF6;
    --secondary-hover-color:#dbe1ea;
    --input-bg:#fff;
    --chat-bg:#f1f1f1;
    --chat-border:#dedede;
    --output-bg:#ddd;
    --output-border:#ccc;
}
body.dark {
    --text-color:#f1f1f1;
    --subheading-color:#bbbbbd;
    --placeholder-color:#999;
    --primary-color:#121212;
    --secondary-color:#1f1f1f;
    --secondary-hover-color:#2a2a2a;
    --input-bg:#2a2a2a;
    --chat-bg:#1e1e1e;
    --chat-border: #333;
    --output-bg:#2a2a2a;
    --output-border:#444;
}

body {
    background: var(--primary-color);
    color: var(--text-color);
    transition: background 0.3s,color 0.3s;
}

.header {
    width: 100%;
    text-align: center;
    margin:auto;
    margin-top: 25%;
}

.header .title {
    margin: auto;
    width: 600px;
    font-weight: 200;
    font-size: 48px;
    
}
.gemini {
    
    background: linear-gradient(to right, #4285f4, #d96570);
    -webkit-text-fill-color: #222;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.typing-area {
    width: 100%;
    margin: auto;
    margin-top: 200px;
    position: fixed;
    bottom: 50px;
    display: flex;
    justify-content: center;
}
.input-wrapper {
    border: 1px solid var(--text-color);
    border-radius: 20px;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-wrapper input{
    width: 50vw;
    height: 60px;
    padding: 1rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px ;
    border: none;
    background-color: var(--input-bg);
    color: var(--text-color);
}
.input-wrapper input:focus {
    outline: none;
}

#send-message-button {
    cursor: pointer;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 50px;
    height: 60px;
}
.chat-area {
    width: 800px;
    margin: auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
   
}
.chat { 
     background-color: var(--chat-bg);
    border: 2px solid var(--chat-border);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.output {
    border-color: var(--output-border);
    background-color: var(--output-bg);
}

.message 
    {
    animation: transition 0.7s ease forwards;
    background-color: var(--chat-bg);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 1rem;
    width: fit-content;
    border-radius: 15px;
}

 .user {

    align-self: flex-end;

}

 .gemini {

    align-self: flex-start;
}

@keyframes transition {
    from {
        opacity: 0;
        transform: translateY(10px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }  
}

.loading {
   animation: transition 0.7s ease forwards;
    background-color: var(--output-bg);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 1rem;
    width: fit-content;
    border-radius: 15px; 
}

.theme-toggle{
    
    background: none;
    background-color: #efefef;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left:  10px;
    border-radius: 25%;
    padding: 10px;
    box-sizing: border-box;
}